# Verification

On-chain entities looking to issue bonds will need to be verified. Borrowers can get access using [this form](https://forms.gle/Q8goQdUWMPUKAkM97).
