# Verification

On-chain entities looking to issue bonds will need to be verified. Borrowers can get early access using [this form](https://forms.gle/fEqeM5URwRs8K8Fr7).
