# How does my DAO get verified?

On-chain entities looking to issue bonds will need to be verified and have their issuance underwritten. Verification ensures an entity is who they say they are. Underwriting helps the borrower to price their offering while mitigating risk for lenders. Borrowers can get kickoff the verification/underwriting process using [this form](https://forms.gle/fEqeM5URwRs8K8Fr7).
