# Verification

On-chain entities looking to issue bonds will initially need to be verified. After a period of time, issuers will be able to do so permissionlessly.&#x20;

Issuers can reach out to Porter using [this form](https://forms.gle/Q8goQdUWMPUKAkM97).
