# Verification

On-chain entities looking to issue bonds can do so permissionlessly. If they would like their issuance to be verified, they must go through verification and underwriting.

Issuers reach out to Sherpas using [this form](https://xudqki8dg3d.typeform.com/to/pmco6a9b). Sherpas then perform a diligence process and decide whether they would like to underwrite the borrower's bond issuance. If the request is accepted, the Sherpa aids in the issuance process, performing their responsibilities which are outlined [here](../sherpas.md).
